@import url('https://fonts.google.com/specimen/Manrope');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ECF2F8;
    display: flex;
    font-family: 'Manrope', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding:20px;
}

main {
    display:flex;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1); /* shadow for the container */
    overflow: hidden;
   
}

.container-left{

}

.container-left img{

}

.container-right{
    
}