@import url('https://fonts.google.com/specimen/Manrope');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ECF2F8;
    display: flex;
    font-family: 'Manrope', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding:20px;
}

main {
    display:flex;
    background-color: #FFFFFF;
    border-radius: 10px;
    max-width: 729px;
    width:729px;
    height: 280px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1); /* shadow for the container */
    overflow: hidden;
   
}

.container-left{
    flex: 0 0 285px; 
    height: 280px;
    overflow:hidden;
    
}

.container-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.container-right{
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

/*Tablet View: 300px * 346px*/
@media (max-width:768px){
 main {
    max-width: 308px;
    width: 308px;
    height:346px;
 }

 .container-left{
    flex: 0 0 120px;
    height: 346px;
 }

 .container-right{
    padding:30px;
 }
}

/*Mobile View: 327px * 548px  - Vertical Layout */
@media (max-width:480px){
    main {
        flex-direction: column;
        max-width: 327px;
        width: 327px;
        height:538px;
     }
    
     .container-left{
        flex: 0 0 200px;
        height: 200px;
        width:100%;
     }

     .container-left img{
        border-radius: 10px 10px 0 0;
     }
    
     .container-right{
        flex: 1 ;
        padding:35px 30px 30px;
     }

}

.text h1{
    font-size: 20px;
    font-weight: 700;
    color:#48556A;
    line-height:1.3;
    margin-bottom:24px;
}

.text p{
    font-size: 13px;
    font-weight:500;
    line-height:1.4;
    color: #6E8098;
    margin-bottom:24px;
}

.profile {
    display:flex;
    align-items: center;
}

.profile img{
    width:40px;
    height:40px;
    border-radius:50%;
    margin-right:16px;
}

.profile-detail h3{ 
    font-size:13px;
    font-weight:700;
    color: #48556A;
    margin-bottom:3px;
}

.profile-detail p{
    font-size:13px;
    font-weight:500;
    color: #9DAEC2;
}

.share {
    margin-left:auto;
    width:32px;
    height:32px;
    background-color: #ECF2F8;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items: center;
    cursor:pointer;
    transition:background-color 0.3s;
    overflow: visible;
}

.share:hover {
    background-color: #48556A;
}

.share img{
    width:13px;
    height:auto;
    max-width: 100%;
    max-height: 100%;
    margin:0;
    display:block;
    flex-shrink: 0;
    overflow:visible;
}