@import url('https://fonts.google.com/specimen/Manrope');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: grey;
    font-family: 'Manrope', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    padding:20px;
    line-height: 1.8;
    letter-spacing: 0.5px;
}