@import url('https://fonts.google.com/specimen/Manrope');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ECF2F8;
    font-family: 'Manrope', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    padding:20px;
    line-height: 1.8;
    letter-spacing: 0.5px;
}

main {
    display:flex;
    justify-content: center;
    align-items:center;
    max-width: 730px;
    border: 2px solid black;
    max-height: 500px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}