@import url('https://fonts.googleapis.com/css2?family=Young+Serif&family=Outfit:wght@400;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(30, 54%, 90%);
    font-family: 'Outfit', sans-serif;  /* Default font for body */
    justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  padding: 20px;
  line-height: 1.8;
  letter-spacing: 0.5px;
}